{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">

    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/jquery/jquery-3.7.1.min.js' %}"></script>
    <title>Ingreso de Usuario</title>
</head>
<body>
    <div class="container">
        <h1>Registro de Usuarios</h1>
        <form action="/usuario/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text"
                        id="vNom"
                       name="vNom" 
                       class="form-control"
                       onblur="validarNombre()"
                       onclick="validarNombre()">
            </div>
            <div id="msjNombre"></div>
            <div class="form-group">
                <label for="">Apellido:</label>
                <input type="text"
                        id="vApe" 
                       name="vApe" 
                       class="form-control"
                       onblur="validarApellido()"
                       onclick="validarApellido()">
            </div>
            <div id="msjApellido"></div>
            <div class="form-group">
                <label for="">Cedula Identidad:</label>
                <input type="text"
                        id="vId"
                       name="vId"
                       class="form-control"
                       onblur="validarIdentidad()"
                       onclick="validarIdentidad()">
            </div>
            <div id="msjIdentidad"></div>
            <div class="form-group">
                <label for="">Sexo:</label>
                <input type="text"
                        id="vSexo"
                       name="vSexo" 
                       class="form-control"
                       onblur="validarSexo()"
                       onclick="validarSexo()">
            </div>
            <div id="msjSexo"></div>
            <div class="form-group">
                <label for="">Fecha nacimiento:</label>
                <input type="text"
                        id="vFecha"
                       name="vFecha" 
                       class="form-control"
                       onblur="validarFechaNac()"
                       onclick="validarFechaNac()">
            </div>
            <div id="msjFecNac"></div>
            <div class="form-group">
                <label for="">Direccion:</label>
                <input type="text" 
                        id="vDirec"
                       name="vDirec" 
                       class="form-control"
                       onblur="validarDireccion()"
                       onclick="validarDireccion()">
            </div>
            <div id="msjDir"></div>
            <div class="form-group">
                <label for="">Telefono:</label>
                <input type="text"
                        id="vTlf"
                       name="vTlf"
                       class="form-control"
                       onblur="validarTelefono()"
                       onclick="validarTelefono()">
            </div>
            <div id="msjTelf"></div>
            <div class="form-group">
                <label for="">Correo Electronico:</label>
                <input type="text"
                        id="vCorreo"
                       name="vCorreo" 
                       class="form-control"
                       onblur="validarCorreo()"
                       onclick="validarCorreo()">
            </div>
            <div id="msjCorreo"></div>
            <button type="submit"
                    id="btnGuardar"
                    class="btn btn-success"
                    disabled>GUARDAR</button>
        </form>

        {% if mensajes %}
            <div class="alert alert-info"><strong>Atencion:</strong>
            {% for msj in mensajes %}
                {{msj}}
            {% endfor %}
            </div>
        {% endif %}

    </div>

    <script>

        const expRegNomApe = /^([A-Z]{1}[a-zñáéíóú]+[\s]*)+$/;
        const expRegDireccion= /^[#.0-9a-zA-Z\s,-]+$/
        const expRegTelefonoId =/^([0-9]{1,14})+$/;
        const expRegFecha= /^(3[01]|[12][0-9]|0?[1-9])(\/|-)(1[0-2]|0?[1-9])\2([0-9]{2})?[0-9]{2}$/
        const expRegCorreo= /^([a-zA-Z0-9_.±]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]*)+$/;
        var datoNombre, datoApellido, datoIdentidad, datoSexo, datoFechaNac,
        datoDireccion, datoTelefono, datoCorreo, controlNombre, controlApellido, controlIdentidad,
        controlSexo, controlFechaNac, controlDireccion, controlTelefono, controlCorreo;

        controlNombre=false;
        controlApellido=false;
        controlIdentidad=false;
        controlSexo=false;
        controlFechaNac=false;
        controlDireccion=false;
        controlTelefono=false;
        controlCorreo=false;

      /*  
        function validarNombre(){
            datoNombre= $('#vNom').val();
            if (expRegNomApe.test(datoNombre)){
                $('#msjNombre').css({'color':'black','font-size':'10px'})
                $('#msjNombre').html('');
                controlNombre = true;
            }else{
                $('#msjNombre').css({'color':'red','font-size':'10px'})
                $('#msjNombre').html('Por favor ingrese nombre con letra inicial mayuscula y el resto minuscula');
                controlNombre = false;
            }
            validarDatos();
        }
         */
        
         
        // ValidarNombre utilizando javascript

        function validarNombre(){
            datoNombre= document.getElementById('vNom').value;
            if (expRegNomApe.test(datoNombre)){
                document.getElementById('msjNombre').style.color='black';
                document.getElementById('msjNombre').style.fontSize='10px';
                document.getElementById('msjNombre').innerHTML='';
                controlNombre = true;
            }else{
                document.getElementById('msjNombre').style.color='red';
                document.getElementById('msjNombre').style.fontSize='10px';
                document.getElementById('msjNombre').innerHTML='Por favor ingrese nombre con letra inicial mayuscula y el resto minuscula';
                controlNombre=false;
            }
            validarDatos();
        }
        
        function validarApellido(){
            datoApellido= $('#vApe').val();
            if (expRegNomApe.test(datoApellido)){
                $('#msjApellido').css({'color':'black','font-size':'10px'})
                $('#msjApellido').html('');
                controlApellido = true;
            }else{
                $('#msjApellido').css({'color':'red','font-size':'10px'})
                $('#msjApellido').html('Por favor ingrese apellido con letra inicial mayuscula y el resto minuscula');
                controlApellido = false;
            }
            validarDatos();
            
        }

        function validarIdentidad(){
            datoIdentidad=$('#vId').val();
            if (expRegTelefonoId.test(datoIdentidad)){
                $('#msjIdentidad').css({'color':'black','font-size':'10px'})
                $('#msjIdentidad').html('');
                controlIdentidad=true;
            }else{
                $('#msjIdentidad').css({'color':'red','font-size':'10px'})
                $('#msjIdentidad').html('Por favor ingrese solo numeros');
                controlIdentidad=false;
            }
            validarDatos();
            

        }

        function validarSexo(){
            datoSexo=$('#vSexo').val();
            if (expRegNomApe.test(datoSexo)){
                $('#msjSexo').css({'color':'black','font-size':'10px'})
                $('#msjSexo').html('');
                controlSexo=true;
            }else{
                $('#msjSexo').css({'color':'red','font-size':'10px'})
                $('#msjSexo').html('Por favor ingrese su genero con letra mayuscula inicial');
                controlSexo=false;
            }
            validarDatos();
            
        }

        function validarFechaNac(){
            datoFechaNac=$('#vFecha').val();
            if (expRegFecha.test(datoFechaNac)){
                $('#msjFecNac').css({'color':'black','font-size':'10px'})
                $('#msjFecNac').html('');
                controlFechaNac=true;
            }else{
                $('#msjFecNac').css({'color':'red','font-size':'10px'})
                $('#msjFecNac').html('Por favor ingrese su fecha de nacimiento en formato dd/mm/yy');
                controlFechaNac=false;
            }
            validarDatos();
            

        }

        function validarDireccion(){
            datoDireccion=$('#vDirec').val();
            if (expRegDireccion.test(datoDireccion)){
                $('#msjDir').css({'color':'black','font-size':'10px'})
                $('#msjDir').html('');
                controlDireccion=true;
            }else{
                $('#msjDir').css({'color':'red','font-size':'10px'})
                $('#msjDir').html('Por favor ingrese su direccion con letra mayuscula inicial');
                controlDireccion=false;
            }
            validarDatos();
            
            
        }

        function validarTelefono(){
            datoTelefono=$('#vTlf').val();
            if (expRegTelefonoId.test(datoTelefono)){
                $('#msjTelf').css({'color':'black','font-size':'10px'})
                $('#msjTelf').html('');
                controlTelefono=true;
            }else{
                $('#msjTelf').css({'color':'red','font-size':'10px'})
                $('#msjTelf').html('Por favor ingrese su numero de telefono');
                controlTelefono=false;
            }
            validarDatos();

        }

        function validarCorreo(){
            datoCorreo=$('#vCorreo').val();
            if (expRegCorreo.test(datoCorreo)){
                $('#msjCorreo').css({'color':'black','font-size':'10px'})
                $('#msjCorreo').html('');
                controlCorreo=true;
            }else{
                $('#msjCorreo').css({'color':'red','font-size':'10px'})
                $('#msjCorreo').html('Por favor ingrese su correo');
                controlCorreo=false;
            }
            validarDatos();
            
        }

        function validarDatos(){
            if (controlNombre && controlApellido && controlIdentidad && controlSexo
             && controlFechaNac && controlDireccion && controlTelefono && controlCorreo){
                $('#btnGuardar').removeAttr('disabled');
             }else{
                $('#btnGuardar').attr('disabled',true);
             }
        }
    </script>
    
</body>
</html>